* {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

/**/
.header, .footer {
    -webkit-animation-duration: 2s;
}

/**/
.btn .shine {
    -webkit-animation: anim_shine 1s linear infinite;
}

@-webkit-keyframes anim_shine {
    0% {
        opacity: 0;
        -webkit-transform: skewX(-20deg) translateX(-5rem);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: skewX(-20deg) translateX(5rem);
    }

}

/**/
.input_container input {
    -webkit-animation: anim_input infinite 1s linear;
}

@-webkit-keyframes anim_input {
    40% {
            border: 1px solid #dce3e5;
    }

    40% {
            border: 1px solid #59ca00;
    }

    60% {
            border: 1px solid #59ca00;
    }

    60% {
            border: 1px solid #dce3e5;
    }

}

/**/
.btn {
    -webkit-animation: anim_btn infinite 1s linear;
}

@-webkit-keyframes anim_btn {
    0% {
        box-shadow: 0 0 0 0 rgb(89 202 0 /50%);
    }

    100% {
        box-shadow: 0 0 0 10px rgb(89 202 0 / 0%);
    }

}



/**/
.btn .icon {
    -webkit-animation: anim_fade linear infinite 1.5s;
}

.btn .icon.a {
    -webkit-animation-delay: 0;
}

.btn .icon.b {
    -webkit-animation-delay: .3s;
}

@-webkit-keyframes anim_fade {
    0% {
        opacity: .3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .3;
    }

}


/**/

