* {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

/**/
.header, .footer {
    -webkit-animation-duration: 2s;
}

/**/
.fade_in, .header, .footer, .lng_sel, .bottom {
    -webkit-animation-name: fade_in;
}

@-webkit-keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

/**/
.fade_in_left {
    -webkit-animation-name: fade_in_left;
}

@-webkit-keyframes fade_in_left {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-60px, 0, 0);
    }

    to {
        -webkit-transform: none;
    }

}

/**/
.fade_in_right {
    -webkit-animation-name: fade_in_right;
}

@-webkit-keyframes fade_in_right {
    from {
        opacity: 0;
        -webkit-transform: translate3d(60px, 0, 0);
    }

    to {
        -webkit-transform: none;
    }

}

/**/
.fade_in_down {
    -webkit-animation-name: fade_in_down;
}

@-webkit-keyframes fade_in_down {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -50px, 0);
    }

    to {
        -webkit-transform: none;
    }

}

/**/
.fade_in_up, .option, .input_container {
    -webkit-animation-name: fade_in_up;
}

@-webkit-keyframes fade_in_up {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 40px, 0);
    }

    to {
        -webkit-transform: none;
    }

}

/**/
.zoom_in, .btn_container, .bar_container {
    -webkit-animation-name: zoom_in;
}

@-webkit-keyframes zoom_in {
    from {
        -webkit-transform: scale(1.2);
        opacity: 0;
    }

    to {
        -webkit-transform: none;
        opacity: 1;
    }

}

/**/
.zoom_out, .result_container, .label {
    -webkit-animation-name: zoom_out;
}

@-webkit-keyframes zoom_out {
    from {
        -webkit-transform: scale(.5);
        opacity: 0;
    }

    to {
        -webkit-transform: none;
        opacity: 1;
    }

}

/**/
.btn .shine {
    -webkit-animation: anim_shine 1s linear infinite;
}

@-webkit-keyframes anim_shine {
    0% {
        opacity: 0;
        -webkit-transform: skewX(-20deg) translateX(-5rem);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: skewX(-20deg) translateX(5rem);
    }

}

/**/
.input_container input {
    -webkit-animation: anim_input infinite 1s linear;
}

@-webkit-keyframes anim_input {
    40% {
            border: 1px solid #dce3e5;
    }

    40% {
            border: 1px solid #59ca00;
    }

    60% {
            border: 1px solid #59ca00;
    }

    60% {
            border: 1px solid #dce3e5;
    }

}

/**/
.btn {
    -webkit-animation: anim_btn infinite 1s linear;
}

@-webkit-keyframes anim_btn {
    0% {
        box-shadow: 0 0 0 0 rgb(89 202 0 /50%);
    }

    100% {
        box-shadow: 0 0 0 10px rgb(89 202 0 / 0%);
    }

}



/**/
.btn .icon {
    -webkit-animation: anim_fade linear infinite 1.5s;
}

.btn .icon.a {
    -webkit-animation-delay: 0;
}

.btn .icon.b {
    -webkit-animation-delay: .3s;
}

@-webkit-keyframes anim_fade {
    0% {
        opacity: .3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .3;
    }

}

/**/

.label .a {
    -webkit-animation: anim_label linear infinite 1.5s;
}

@keyframes anim_label {
  0% { background-position: 0 0; }
  100% { background-position: -50px 0; }
}

/**/

.label {
    -webkit-animation-delay: .2s;
}
.bar_container {
    -webkit-animation-delay: .2s;
}
.option:nth-child(1) {
    -webkit-animation-delay: .4s;
}
.option:nth-child(2) {
    -webkit-animation-delay: .6s;
}
.option:nth-child(3) {
    -webkit-animation-delay: .8s;
}
.option:nth-child(4) {
    -webkit-animation-delay: 1s;
}

.input_container input {
    -webkit-animation-delay: .4s;
}
.btn_container {
    -webkit-animation-delay: .6s;
}
